# ======================
# Virtual Environment
# ======================
venv/
.venv/
env/
ENV/

# ======================
# Python Cache Files
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Build / Distribution
# ======================
dist/
build/
*.egg-info/

# =========================
# Jupyter / Notebook files
# =========================
.ipynb_checkpoints/

# ======================
# IDE / Editor Configs
# ======================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ======================
# Streamlit
# ======================
.streamlit/secrets.toml

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Cache Folders
# ======================
.cache/
*.cache/
prophet_stan_cache/

# ======================
# Temporary Files
# ======================
*.tmp
*.temp

# ======================
# Oracle Instant Client
# ======================
instantclient_*/

# ===========================
# CSV / Data Files (optional)
# ===========================
data/*.csv
*.csv

# ======================
# Environment Files
# ======================
.env